<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="author" content="João Victor Palhares Barbosa Avanzini">
    <meta name="description" content="M.Sc. student of Deep Learning solutions to Medical data at laboratory REasoning for COmplex Data (Recod.ai). Computer Vision Team Leader at Compass UOL. Particularly interested in Artificial Intelligence for Medical data, Robotics, Mobile Robotics, Autonomous Guided Vehicles, Robotics in Biomechanics, and Robotic Prostheses.">
    <meta name="keywords" content="Artificial Intelligence, Medical data, Robotics, Mobile Robotics, Autonomous Guided Vehicles, Robotics in Biomechanics, Robotic Prostheses">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="João Victor Palhares Barbosa Avanzini">
    <meta property="og:description" content="M.Sc. student of Deep Learning solutions to Medical data at laboratory REasoning for COmplex Data (Recod.ai). Computer Vision Team Leader at Compass UOL. Particularly interested in Artificial Intelligence for Medical data, Robotics, Mobile Robotics, Autonomous Guided Vehicles, Robotics in Biomechanics, and Robotic Prostheses.">
    <meta property="og:url" content="https://palhares.dev">
    <meta property="og:type" content="profile">
    <meta property="profile:username" content="joaoavanzini">
    <meta property="profile:nationality" content="Brazilian & Italian">
    <meta property="profile:mobile" content="+55 19 98103-9387">
    <meta property="profile:email" content="falejoaovictor@hotmail.com, joao@palhares.dev">
    <meta property="profile:lattes" content="lattes.cnpq.br/7839491070550503">
    <meta property="profile:languages" content="Portuguese (Native), English (Fluent)">
    <!-- End Metadata -->

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View my GitHub profile</a></p>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
